.defBtn {
    width: 340px;
    height: 100px;
    font-family: inter;
    padding: 39px 52px;
    background-color: #2C2A2A;
    color: #D0D0D0;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}
.defBtn:hover {
    background-color: #1b1a1a;
}