.bgWrap {
    margin: 25px;
    position: relative;
    background-color: #474343;
    min-height: 2800px;
}

.bGImg {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 25%;
    pointer-events: none
}