.header {
    background-color: #474343;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    margin: 25px;
}

.header img:hover {
    cursor: pointer;
    transform: scale(1.02)
}