.navItem {
    min-width: 200px;
    position: relative;
    height: 51px;
}
.navLink {
    height: 51px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    font-size: 32px;
    text-decoration: none;
    color: white;
    transition: all ease-in-out 0.3s;
}

.navLink img {
    width: 45px;
    height: 45px;
}

.navItem span{
    position: absolute;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: all ease-in-out 0.2s;
}
.navItem:hover > span{
    width: 120%;
}
.navItem:hover > a{
   color: black;
}