.lineWrapper {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.whiteLine {
    height: 1px;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}